html,body{
	height: 100%;
}

#particles-js{ 
	position:fixed;
	z-index:-1;
	width: 100%;
	height: 100%;
	background-color:#020E34;
}

#wrapper{
	position: relative;
	z-index: 1;
	width:100%;
	height: 100%;
}